/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*===General Styles===*/
* {
  font-size: 18px;
  font-family: 'Alata', sans-serif;
  color: #2b2b2b;
  margin: 0;
}

body {
  font-size: 1em;
  background-color: white;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 5rem;
  border-radius: 100%;
  background: #CAC4D1;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top-icon {
  width: 1rem;
  height: 1.5rem;
  color: #453E4F;
}
.back-to-top:hover {
  opacity: 60%;
}

.hidden {
  opacity: 0%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: 1.5em;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #453E4F;
}

.nav__link {
  position: fixed;
  width: 30%;
  top: 4rem;
  right: 65px;
  border-radius: 30px;
  background-color: #CAC4D1;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-radius: 30px;
  font-size: 1em;
}

.nav__link a:hover {
  background-color: #F8C6C6;
  opacity: 85%;
}

.hide {
  display: none;
}

h1, h2, h3, h4 {
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

h1 {
  font-size: 3em;
  border-bottom: 4px dotted grey;
  font-weight: bold;
  padding-bottom: 25px;
}

h2 {
  font-size: 2em;
  color: #453E4F;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;
  font-weight: lighter;
}

p, li {
  line-height: 1.5;
  font-family: 'Nunito Sans', sans-serif;
}

.language-wrapper p,
.tool-wrapper p {
  text-transform: uppercase;
}

span {
  font-weight: bold;
}

figure {
  width: 100%;
}

/*===Structural Styles===*/
header {
  height: 325px;
  background: #E8EFF7;
  padding: 30px 0;
}

header,
#work,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 85%;
}

#work p,
#about p {
  width: 100%;
  text-align: left;
}

#work, #skills, #about, #contact {
  padding: 30px 0;
}

#work {
  padding-bottom: 40px;
}

figure img {
  padding: 40px 0;
  width: 80%;
}

.portfolio-page h3 {
  padding-top: 30px;
  margin: 20px 0;
}

.portfolio-page h4 {
  margin: 20px 0;
  font-weight: bold;
}

.portfolio-page p {
  margin: 10px 0;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.home-portfolio-piece {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  padding-bottom: 25px;
}

.project-link {
  background-color: #F19494;
  padding: .75rem 3.75rem;
  border-radius: 30px;
  color: #453E4F;
  margin-top: 25px
}

.project-link:hover {
  background-color: #F8C6C6;
  color: #453E4F;
}

  p.project-description {
    padding: 20px 0;
  }


#skills {
  background-color: #E8EFF7;
  padding-bottom: 80px;
}

#skills h3, #skills h4 {
  padding: 20px 0;
}

.language-wrapper p, .tool-wrapper p {
  background-color: #453E4F;
  color: white;
  padding: 15px 0;
  margin: 20px 0;
}

.tool {
  width: 100%;
}

#about {
  padding: 60px 0;
}

#about h3 {
  font-size: 2.25em;
}

#about h5 {
  padding: 25px 0;
  font-size: 1.15em;
}

img {
  width: 100%;
  max-width: 600px;
  padding-bottom: 30px;
}

.highlight {
  padding-top: 30px;
  font-weight: bolder;
}

footer {
    background-color: #E8EFF7;
    width: 100%
}

footer h4 {
  font-size: 1.25em;
}

footer .content-wrapper {
    padding: 40px 0;
}

footer .contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 25px 0;
}

footer .contact-info {
  width: 60%;
  padding: 20px 0;
  font-size: 1.75em;
  margin: 15px 0;
}

footer #contact-email {
  padding-bottom: 25px;
}

svg {
  height: 45px;
  width: 45px;
}

footer ul li a {
  padding: 20px 0;
}

footer #contact-social {
  padding-bottom: 25px;
}

footer ul {
  width: 100%;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  width: 100%;
  padding: 10px 0;
}

footer .social-icons li {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
   /* ----------- For screens 768px and larger ----------- */
   /*Tablet Styles*/
   @media (min-width: 768px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;

    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
    font-size: 1.15em;
  }

  .hamburger {
    display: none;
  }

  header {
    height: 400px;
}

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 3em;
  }

  h4 {
    font-size: 2em;
    padding: 5px 0;
  }

  /* General styles */
  .content-wrapper {
    max-width: 640px;
  }
  /* portfolio */
  .portfolio-wrapper {
    justify-content: space-around;
  }

  #work {
    padding-bottom: 80px;
  }

  .home-portfolio-piece {
    width: 45%;
    align-items: center;
    margin: 20px 15px;
  }

  .project-description {
    width: 95%;
  }

  .language-wrapper,
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
  }

  #skills {
    padding: 60px 0;
  }
  .skill,
  .tool {
    /*  width: auto; */
    width: 45%;
  }

  .language-wrapper p,
  .tool-wrapper p {
    padding: 15px 0;
  }

  /* about */
  #about h3 {
    font-size: 2.25em;
  }

  #about h5 {
    padding: 35px 0;
    line-height: 1.25em;
  }

  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about p  {
    text-align: justify;
    line-height: 1.25em;
    padding-bottom: 15px;
  }

  /* Footer */
  .contact-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  picture img {
    padding: 30px 0;
    max-width: 75%;
    margin-bottom: 20px;
  }

  footer h4 {
    font-size: 1em;
    padding-bottom: 0;
  }

  footer .contact-info {
    width: 50%;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }

  footer .social-icons {
    width: 12.5em;
    padding: 10px 50px;
    justify-content: space-between;
  }

  svg {
    width: 60px;
    height: 60px;
  }

  footer .copyright {
    width: 100%;
  }

 }

   /* ----------- For screens 1200px wide and larger----------- */
   /*Desktop Styles*/
   @media (min-width: 1200px) {
   .content-wrapper {
     max-width: 1450px;
   }

   .nav__link a {
     font-size: 1.25em;
   }
   header {
     height: 450px;
   }

   h1 {
     font-size: 4.25em;
   }

   h2 {
     font-size: 2.75em;
   }

   h3 {
     font-size: 3.25em;
   }

   h4 {
     font-size: 2.25em;
   }

   /* portfolio */
     .home-portfolio-piece {
       width: 30%;
     }

     /* skills */
     .skill,
     .tool {
       width: 30%;
     }

     /* about */
     #about {
       padding: 80px 0;
     }

     #about h3 {
       font-size: 3.25em;
       padding: 35px 0 20px 0;
     }

     #about h5 {
       font-size: 1.75em;
     }

     #about p  {
       line-height: 1.45em;
       padding-bottom: 15px;
     }

     .about-content-wrapper {
       display: flex;
       justify-content: space-between;
     }

     figure img {
       max-height: 250px;
       max-width: 100%;
       padding: 40px;
     }

     #about figure {
       width: 35%;
       margin-top: 0;
     }

     picture img {
       float: left;
       padding: 30px 100px 30px 0;
       max-width: 30%;
     }

     #contact {
       padding: 80px 0;
     }

     footer .social-icons {
       width: 60%;
       justify-content: space-around;
       padding: 10px 150px;
     }

   }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
